/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* utilities  */
body {
  font-family: "Poppins", sans-serif;
}

/* NavBar  */

/* Slider  */
.slider-image {
  max-height: 700px;
  min-height: 262px;
}
.slider-caption {
  top: 50%;
  transform: translateY(-50%);
}
