/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* utilities  */
body {
  font-family: "Poppins", sans-serif;
}

/* NavBar  */

/* Slider  */
.slider-image {
  max-height: 700px;
  min-height: 262px;
}
.slider-caption {
  top: 55%;
  transform: translateY(-50%);
}

/* social icon  */
.s-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 10px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .slider-caption {
    top: 35%;
  }
}
